<!DOCTYPE html>
<html>
<head>

<title>Advice Center</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main-container">

<div class="sidebar">

<div class="logo">
Stress Detection
</div>

</div>

<div class="content">

<h1>Advice Center</h1>

<br>

<div class="advice-grid">

<div class="advice-card">

<h3>Manage Your Time</h3>

<p>
Create a study schedule and avoid
last minute reading.
</p>

</div>

<div class="advice-card">

<h3>Get Enough Sleep</h3>

<p>
Sleep improves concentration and
reduces stress.
</p>

</div>

<div class="advice-card">

<h3>Take Breaks</h3>

<p>
Take short breaks during study sessions.
</p>

</div>

<div class="advice-card">

<h3>Stay Positive</h3>

<p>
Maintain confidence and avoid panic.
</p>

</div>

</div>

</div>

</div>

</body>
</html>